<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">About </a>
        {% endif %}
    {% endif %}
    {% comment %}<a class="cta" href="http://github.com/hogaur"><img src="assets/github-ico.png"></a>{% endcomment %}
    {% comment %}<a class="cta" href="http://in.linkedin.com/in/hogaur"><img src="assets/linkedin-ico.png"></a>{% endcomment %}
    {% comment %}<a class="cta" href="http://twitter.com/hogaur"><img src="assets/twitter-ico.png" ></a>{% endcomment %}
    {% comment %}<a class="cta" href="http://facebook.com/hogaur"><img src="assets/facebook-ico.png"></a>{% endcomment %}
</nav>
