<ul id="post-list">
  <div id='life' class='hide'>
    {% for post in paginator.posts %}
      {% if post.section == 'Life' %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
          <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }} <h2>{{ post.description }}</h2></a>
        </li>
      {% endif %}
    {% endfor %}
  </div>
  <div id='music' class='hide'>
    {% for post in paginator.posts %}
      {% if post.section == 'Music' %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
          <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }} <h2>{{ post.description }}</h2></a>
        </li>
      {% endif %}
    {% endfor %}
  </div>
  <div id='code' class='hide'>
    {% for post in paginator.posts %}
      {% if post.section == 'Code' %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
          <a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }} <h2>{{ post.description }}</h2></a>
        </li>
      {% endif %}
    {% endfor %}
  </div>
</ul>

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}
