<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">
                <img id="avatar" class="2x  avatar-about-page" src="{{ site.baseurl }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/avatar.png"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
        {% if page.url == "/about/" %}
            <img id="tagline" class="2x maykashi" src="{{ site.baseurl }}assets/images/maykashi.png"/>
        {% else %}
          <h2>

            <ul class="nav nav-pills nav-justified" style="display: inline-flex !important;">
              <li class="active li-no-circle"><a class="grey underlined" onclick="setSection('life')" href="#{{site.sections[0]}}">{{ site.sections[0] }}</a></li>
              &nbsp&nbsp
              <li class="li-no-circle"><a class="grey underlined" onclick="setSection('music')" href="#{{site.sections[1]}}">{{ site.sections[1] }}</a></li>
              &nbsp&nbsp
              <li class="li-no-circle"><a class="grey underlined" onclick="setSection('code')" href="#{{site.sections[2]}}">{{ site.sections[2] }}</a></li>
            </ul>
          </h2>
        {% endif %}

        </header>
    </section>
</div>
